body{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
#container{
    width: 1000px;
    height: 70px;
    border: 1px solid black;
    margin: 15px 100px ;
}
#cl{
    width: 1000px;
    height: 300;
    border: 1px solid black;
    margin: 0 auto;
    background-image: url("/Users/wanchai/chii/pic1.jpg")
}
#c0{
    width: 1000px;
    height: 200px;
    border: 1px solid black;
    margin: 10px 100px
}

#c1{
    float: left;
    width: 49%;
    height: 200px;
    border: 1px solid black;
    
}

#c2{
    float: right;
    width: 50%;
    height: 200px;
    border: 1px solid black;
    
}




