#container{
    width: 21cm;
    height: 7.59com;
    border: 1px solid black;
}
body{
    width: 100%;
    height: auto;
    margin: 0 auto;

}
#cl{
    width: 300;
    height: 300;
    border: 1px solid black
}
#c1{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
#c2{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
